node_modules/
bower_components/

# Examples and other things that I want to place somewhere
# but don't want to actually commit.
.examples/
__examples__/

# ---------------
# Specific Things
# ---------------

Talks/2019-10-03 - How To Write Vue Mixins/dist/

# Ignore Mac Digital Guardian cruft
**/.*.cls
